[
  {
    "ParameterKey": "DiscordToken",
    "ParameterValue": "YOUR_DISCORD_BOT_TOKEN_HERE"
  },
  {
    "ParameterKey": "DiscordChannelId", 
    "ParameterValue": "YOUR_DISCORD_CHANNEL_ID"
  },
  {
    "ParameterKey": "DiscordChatChannelId",
    "ParameterValue": "YOUR_DISCORD_CHAT_CHANNEL_ID"
  },
  {
    "ParameterKey": "DiscordAdminChannelId",
    "ParameterValue": "YOUR_DISCORD_ADMIN_CHANNEL_ID"
  },
  {
    "ParameterKey": "DiscordRuleChannelId",
    "ParameterValue": "YOUR_DISCORD_RULE_CHANNEL_ID"
  },
  {
    "ParameterKey": "DiscordRuleMessageId",
    "ParameterValue": "YOUR_DISCORD_RULE_MESSAGE_ID"
  },
  {
    "ParameterKey": "DiscordGuildId",
    "ParameterValue": "YOUR_DISCORD_GUILD_ID"
  }
]