[
  {
    "ParameterKey": "AccountId",
    "ParameterValue": "YOUR_AWS_ACCOUNT_ID_HERE"
  },
  {
    "ParameterKey": "DiscordToken",
    "ParameterValue": "YOUR_DISCORD_TOKEN_HERE"
  },
  {
    "ParameterKey": "DiscordChannelId",
    "ParameterValue": "YOUR_CHANNEL_ID_HERE"
  },
  {
    "ParameterKey": "DiscordChatChannelId",
    "ParameterValue": "YOUR_CHAT_CHANNEL_ID_HERE"
  },
  {
    "ParameterKey": "DiscordAdminChannelId",
    "ParameterValue": "YOUR_ADMIN_CHANNEL_ID_HERE"
  },
  {
    "ParameterKey": "DiscordRuleChannelId",
    "ParameterValue": "YOUR_RULE_CHANNEL_ID_HERE"
  },
  {
    "ParameterKey": "DiscordRuleMessageId",
    "ParameterValue": "YOUR_RULE_MESSAGE_ID_HERE"
  },
  {
    "ParameterKey": "VpcId",
    "ParameterValue": "YOUR_VPC_ID_HERE"
  },
  {
    "ParameterKey": "SubnetIds",
    "ParameterValue": "YOUR_AWS_SUBNET_ID1,YOUR_AWS_SUBNET_ID2,YOUR_AWS_SUBNET_ID3"
  }
]
